rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
  	// Default rules for all documents
    match /{document=**} {
    	
      // Allow writes if user has "isSuperAdmin" set to "true"
      allow write: if 
      	get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isSuperAdmin == true;
        
      // Allow reads by default
      allow read;
    }
  }
}